/*Phần nội dung Main---------------------------------*/
/*Phần video nền và slogan-----*/
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; /* Video ở lớp dưới cùng */
}

.Hero {
    position: relative;
    width: 100%;
    height: 100vh;
}

.Hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 50, 39, 0.8);
    z-index: 1; /* Lớp phủ sẽ nằm trên video nhưng dưới slogan */
}

.Slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #E8F3DE;
    z-index: 2; /* Slogan ở lớp trên cùng */
}

.Slogan h1 {
    font-size: 45px;
    margin-bottom: 1rem;
    font-style: italic;
    font-weight: 550;
}

.Slogan p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-style: italic;
}

.Slogan button {
    padding: 12px 24px;
    font-size: 20px;
    color: #1D3227;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Nunito', sans-serif;
}

.Slogan button:hover {
    background-color: #1D3227;
    color: #E8F3DE
}

 /*Phần sản phẩm mới-----*/
#New-Product {
    height: 1000px;
    background-color: #1D382C;
    overflow: hidden;
}

#New-Product h1 {
    color: #E8F3DE;
    font-size: 60px;
    text-align: left;
    padding-top: 50px;
    padding-left: 100px;
    font-style: italic;
    font-weight: 500;
}

.content-wrapper {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 800px;
    padding: 50px;
    background-color: #204533;
    box-shadow: 0 30px 50px #3a6d44;
}

#slide {
    width: max-content;
}

.item {
    width: 400px;
    height: 600px;
    background-position: 50% 50%;
    display: inline-block;
    transition: 1s;
    position: absolute;
    z-index: 1;
    background-size: 100%;
}

.item:nth-child(1) {
    transform: translate(-133%);
    opacity: 0;
}

.item:nth-child(2) {
    transform: translate(-23%);
}

.item:nth-child(3) {
    transform: translate(87%);
}

.item:nth-child(4) {
    transform: translate(197%);
}

.item:nth-child(n+5) {
    transform: translate(307%);
    opacity: 0;
}

.item .overview-content {
    position: relative;
    top: 100%;
    background-color: #3B6D54;
    color: #E8F3DE;
    width: 100%;
    padding: 0 10%;
    text-align: center;
    box-shadow: 0 30px 50px #0a1c14;
    transition: 0.5s;
    overflow: hidden;
    max-height: 0;
}

.item:hover .overview-content {
    max-height: 100px;
}

.item:hover {
    background-size: 150%;
}

.controls {
    position: absolute;
    bottom: 40px; 
    left: 50%;
    transform: translateX(-50%); 
    display: flex;
    gap: 20px; 
    z-index: 2;
}

.controls button {
    width: 40px;
    height: 40px;
    border: 2px solid #E8F3DE;
    border-radius: 50%;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
}

.controls button::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 2px solid #E8F3DE;
    border-right: 2px solid #E8F3DE;
    top: 50%;
    left: 50%;
}

.controls #overview-prev::before {
    transform: translate(-25%, -50%) rotate(-135deg);
}

.controls #overview-next::before {
    transform: translate(-75%, -50%) rotate(45deg);
}

.controls button:hover {
    background: rgba(232, 243, 222, 0.2);
    transform: scale(1.1);
}

/*Phần giới thiệu về chúng tôi-----*/
#Why-Choose-Us {
    height: 1024px;
    background: linear-gradient(to bottom, #1D382C, #587959);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Why-Choose-Us .abtus-header {
    text-align: center;
    margin-bottom: 100px;
}

#Why-Choose-Us h1 {
    color: #C8E1CD;
    font-size: 70px;
    font-style: italic;
}

#Why-Choose-Us .abtus-header p {
    color: #C8E1CD;
    font-size: 27px;    
    line-height: 25px;
    font-weight: 600;
    font-style: italic;
}

#Why-Choose-Us .Reasons {
    display: flex;
    justify-content: space-around;
    width: 90%;
}

#Why-Choose-Us .Reason {
    background: linear-gradient(to right, #B3C7B1, #90AD8C);
    width: 300px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0 30px 50px #3a6d44;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #1D3227;
    font-weight: 600;
    line-height: 25px;
}

#Why-Choose-Us .Reason h2 {
    font-size: 30px;
    margin-bottom: 15px;
    line-height: 35px;
}

#Why-Choose-Us .Reason:hover {
    background: #FFF4DE;
    color: #99B495;
    transition: 1s;
}


