<!--Nhóm 9: Phần footer-->
<footer>
  <div class="footer-logo">
    <div><em>Haguchi</em></div>
    <div>葉具家</div>
  </div>
  <div class="footer-content">
    <!--Nhóm 9: Các thanh điều hướng sang các trang khác-->
    <div class="footer-section">
      <h3 data-i18n="nav-about">About Us</h3>
      <ul>
        <li data-i18n="footer-aboutus">
          Bringing elegance and comfort to your home with high-quality
          furniture designed for modern living
        </li>
        <li data-i18n="footer-aboutus-add">
          📍 123 Harmony Street, District 1, Ho Chi Minh City
        </li>
        <li>📞 (+84) 123 456 789</li>
        <li>📧 support@haguchi.com</li>
        <li>🕒 8:00 AM – 9:00 PM (Mon – Sun)</li>
      </ul>
    </div>
    <div class="footer-section">
      <h3 data-i18n="footer-categories">Shop by Category</h3>
      <ul>
        <li>
          <a href="../typologies/couch.html" data-i18n="footer-categories-sofa"
            >Sofas & Armchairs</a
          >
        </li>
        <li><a href="../typologies/dining-table.html" data-i18n="footer-categories-dining">Dining Tables</a></li>
        <li>
          <a href="../typologies/bed.html" data-i18n="footer-categories-bed">Beds</a>
        </li>
        <li>
          <a href="../typologies/shelving.html" data-i18n="footer-categories-cabinet">Cabinets & Shelves</a>
        </li>
        <li><a data-i18n="footer-categories-decor">Lighting & Decor</a></li>
        <li>
          <a data-i18n="footer-categories-new">New Arrivals / Promotions</a>
        </li>
      </ul>
    </div>
    <div class="footer-section">
      <h3 data-i18n="footer-policies">Policies & Support</h3>
      <ul>
        <li>
          <a href="../policies.html" data-i18n="footer-policies-warranty"
            >Warranty Policy</a
          >
        </li>
        <li>
          <a href="../policies.html" data-i18n="footer-policies-return"
            >Return & Exchange</a
          >
        </li>
        <li>
          <a href="../policies.html" data-i18n="footer-policies-shipping"
            >Shipping Policy</a
          >
        </li>
        <li>
          <a href="../policies.html" data-i18n="footer-policies-order"
            >How to Order</a
          >
        </li> 
        <li>
          <a href="../policies.html" data-i18n="footer-policies-privacy"
            >Privacy Policy</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <span>© 2025 HAGUCHI – All rights reserved.</span>
    <div class="social-icons">
      <div class="social-icon">f</div>
      <div class="social-icon">in</div>
      <div class="social-icon">t</div>
    </div>
  </div>
</footer>