@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Serif', serif;
}

header {
    width: full;
    color: white;
    height: 60px;
    display: flex;
    background: linear-gradient(to right, #779F8B, #3B6D54, #1D3227);
    opacity: 70%;
}

.Logo {
    font-family: 'Nunito', sans-serif;
    margin-left: 20px;
    font-size: 15px;
    display: flex;
    text-align: center;
    align-items: center;
}

.Main-Menu {
    
}

